html {
  font-family: var(--font-sans-yelosan), var(--font-hebrew-sans-yelosan), var(--font-baybayin-yelosan), sans-serif;
}
body {
  font-family: var(--font-sans-yelosan), var(--font-hebrew-sans-yelosan), var(--font-baybayin-yelosan), sans-serif;
}
pre, code, kbd, samp {
  font-family: var(--font-mono-yelosan), monospace;
}
.font-sans {
  font-family: var(--font-sans-yelosan), var(--font-hebrew-sans-yelosan), var(--font-baybayin-yelosan), sans-serif;
}
.font-serif {
  font-family: var(--font-sans-yelosan), var(--font-hebrew-sans-yelosan), var(--font-baybayin-yelosan), serif;
}
.font-mono {
  font-family: var(--font-mono-yelosan), monospace;
}

@media (min-width: 640px) {
  .sm\:font-sans {
    font-family: var(--font-sans-yelosan), var(--font-hebrew-sans-yelosan), var(--font-baybayin-yelosan), sans-serif;
  }
  .sm\:font-serif {
    font-family: var(--font-sans-yelosan), var(--font-hebrew-sans-yelosan), var(--font-baybayin-yelosan), serif;
  }
  .sm\:font-mono {
    font-family: var(--font-mono-yelosan), monospace;
  }
}

@media (min-width: 768px) {
  .md\:font-sans {
    font-family: var(--font-sans-yelosan), var(--font-hebrew-sans-yelosan), var(--font-baybayin-yelosan), sans-serif;
  }
  .md\:font-serif {
    font-family: var(--font-sans-yelosan), var(--font-hebrew-sans-yelosan), var(--font-baybayin-yelosan), serif;
  }
  .md\:font-mono {
    font-family: var(--font-mono-yelosan), monospace;
  }
}

@media (min-width: 1024px) {
  .lg\:font-sans {
    font-family: var(--font-sans-yelosan), var(--font-hebrew-sans-yelosan), var(--font-baybayin-yelosan), sans-serif;
  }
  .lg\:font-serif {
    font-family: var(--font-sans-yelosan), var(--font-hebrew-sans-yelosan), var(--font-baybayin-yelosan), serif;
  }
  .lg\:font-mono {
    font-family: var(--font-mono-yelosan), monospace;
  }
}

@media (min-width: 1280px) {
  .xl\:font-sans {
    font-family: var(--font-sans-yelosan), var(--font-hebrew-sans-yelosan), var(--font-baybayin-yelosan), sans-serif;
  }
  .xl\:font-serif {
    font-family: var(--font-sans-yelosan), var(--font-hebrew-sans-yelosan), var(--font-baybayin-yelosan), serif;
  }
  .xl\:font-mono {
    font-family: var(--font-mono-yelosan), monospace;
  }
}

@media (min-width: 1536px) {
  .\32xl\:font-sans {
    font-family: var(--font-sans-yelosan), var(--font-hebrew-sans-yelosan), var(--font-baybayin-yelosan), sans-serif;
  }
  .\32xl\:font-serif {
    font-family: var(--font-sans-yelosan), var(--font-hebrew-sans-yelosan), var(--font-baybayin-yelosan), serif;
  }
  .\32xl\:font-mono {
    font-family: var(--font-mono-yelosan), monospace;
  }
}

.object-cover {
  -o-object-fit: contain;
     object-fit: contain;
}

/* BGN: multilingual support */
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-sans-yelosan), var(--font-hebrew-sans-yelosan), var(--font-baybayin-yelosan), serif;
  }
  h1:lang(zh-Hans), h2:lang(zh-Hans), h3:lang(zh-Hans), h4:lang(zh-Hans), h5:lang(zh-Hans), h6:lang(zh-Hans) {
    font-family: var(--font-sans-yelosan), var(--font-zhs-yelosan), var(--font-hebrew-sans-yelosan), var(--font-baybayin-yelosan);
  }
  h1:lang(zh), h2:lang(zh), h3:lang(zh), h4:lang(zh), h5:lang(zh), h6:lang(zh),
  h1:lang(zh-Hant), h2:lang(zh-Hant), h3:lang(zh-Hant), h4:lang(zh-Hant), h5:lang(zh-Hant), h6:lang(zh-Hant) {
    font-family: var(--font-sans-yelosan), var(--font-zht-yelosan), var(--font-hebrew-sans-yelosan), var(--font-baybayin-yelosan);
  }
  h1:lang(ja), h2:lang(ja), h3:lang(ja), h4:lang(ja), h5:lang(ja), h6:lang(ja) {
    font-family: var(--font-sans-yelosan), var(--font-ja-yelosan), var(--font-hebrew-sans-yelosan), var(--font-baybayin-yelosan);
  }
  h1:lang(ko), h2:lang(ko), h3:lang(ko), h4:lang(ko), h5:lang(ko), h6:lang(ko) {
    font-family: var(--font-sans-yelosan), var(--font-ko-yelosan), var(--font-hebrew-sans-yelosan), var(--font-baybayin-yelosan);
  }
  article, header, footer, li, p, a,
  .content {
    font-family: var(--font-sans-yelosan), var(--font-hebrew-sans-yelosan), var(--font-baybayin-yelosan), sans-serif;
  }
  article:lang(zh-Hans), header:lang(zh-Hans), footer:lang(zh-Hans), li:lang(zh-Hans), p:lang(zh-Hans), a:lang(zh-Hans),
  .content:lang(zh-Hans) {
    font-family: var(--font-sans-yelosan), var(--font-zhs-yelosan), var(--font-hebrew-sans-yelosan), var(--font-baybayin-yelosan);
  }
  article:lang(zh), header:lang(zh), footer:lang(zh), li:lang(zh), p:lang(zh), a:lang(zh),
  .content:lang(zh),
  article:lang(zh-Hant), header:lang(zh-Hant), footer:lang(zh-Hant), li:lang(zh-Hant), p:lang(zh-Hant), a:lang(zh-Hant),
  .content:lang(zh-Hant) {
    font-family: var(--font-sans-yelosan), var(--font-zht-yelosan), var(--font-hebrew-sans-yelosan), var(--font-baybayin-yelosan);
  }
  article:lang(ja), header:lang(ja), footer:lang(ja), li:lang(ja), p:lang(ja), a:lang(ja),
  .content:lang(ja) {
    font-family: var(--font-sans-yelosan), var(--font-ja-yelosan), var(--font-hebrew-sans-yelosan), var(--font-baybayin-yelosan);
  }
  article:lang(ko), header:lang(ko), footer:lang(ko), li:lang(ko), p:lang(ko), a:lang(ko),
  .content:lang(ko) {
    font-family: var(--font-sans-yelosan), var(--font-ko-yelosan), var(--font-hebrew-sans-yelosan), var(--font-baybayin-yelosan);
  }
/* END: multilingual support */
